.footer__link-li-bottom {
  margin-right: 18px;
}

.footer__link-li-bottom:last-child {
  margin-right: 0;
}

@media screen and (max-width: 320px) {
  .footer__link-li-bottom {
    margin-bottom: 32px;
  }

  .footer__link-li-bottom:last-child {
    margin-bottom: 0;
  }
}

