.place__link {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style:  normal;
  font-weight: 400;
  text-rendering: auto;
}

.place__link:hover {
  opacity: 80%;
}

