.lead__caption {
  color: #ffffff;
  font-size: 10px;
  line-height: 14px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style:  normal;
  font-weight: 400;
  text-align: left;
  margin: 8px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
