.footer {
max-width: 1184px;
margin: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 92px;
padding-bottom: 24px;
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .footer {
    max-width: 928px;
   }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .footer {
    max-width: 720px;
   }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 24px;
    margin-left: 16px;
  }
}
